// dark
$color-dark: #1a2d48;
$color-dark-3: #15223c;
$color-dark-4: #181f39;
$color-dark-5: #0f172a;
$color-dark-10: #08170c;
$color-dark-15: #0a0a0a;
$color-dark-20: #010827;
$color-dark-25: #001533;

// white
$color-white: #ffffff;

// red
$color-red--10: #f87547;
$color-red--7: #eb403d;
$color-red--5: #f65219;
$color-red: #d11d10;

// grey
$color-grey--20: #fafafa;
$color-grey--15: #e1e4ea;
$color-grey--10: #e8eaed;
$color-grey--5: #cccccc;
$color-grey--1: #d0d5dd;
$color-grey: #d1d5da;
$color-grey-3: #7686a7;
$color-grey-5: #8d96a4;
$color-grey-10: #5f6c7f;
$color-grey-13: #48576d;
$color-grey-15: #4a4a4a;
$color-grey-20: #08170c;

// green
$color-green: #48935b;

// gold
$color-gold--5: #ffc866;
$color-gold: #fbc507;

// alpha
$color-grey-transparent--20: #33445ce5;
$color-grey-transparent--10: #63636333;
$color-grey-transparent--5: #0000001a;
$color-grey-transparent-10: #08170c7f;
$color-grey-transparent-20: #000000cc;
