$default-font-family:
  inter,
  -apple-system,
  blinkmacsystemfont,
  segoe ui,
  roboto,
  sans-serif;
$root-variables: (
  def-font-family: $default-font-family,
  def-font-size: 16px,
  def-font-weight: 400,
  def-font-style: normal,
  def-line-height: normal,
  def-letter-spacing: normal
);
