@use '../variables/colors' as *;
@use '../variables/easing' as *;

@mixin button-shared {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s $ease-in-out;
}

@mixin button-basic($hover: true) {
  background-color: $color-grey;
  color: $color-dark;

  @if $hover {
    &:hover {
      background-color: lighten($color-grey, 7%);
    }
  }
}

@mixin button-accent($hover: true) {
  background-color: $color-red--5;
  color: $color-white;

  @if $hover {
    &:hover {
      background-color: $color-red--10;
    }
  }
}
